root = true

[*]
end_of_line = lf
trim_trailing_whitespace = true
insert_final_newline = false
indent_style = space
indent_size = 4

[{CMakeLists.txt,*.cmake}]
indent_size = 2
tab_width = 8

[*.{h,hpp,hxx,c,cpp,cxx}]
indent_size = 4
tab_width = 8

[*.{yml,yaml}]
indent_size = 2
