ci:
    skip: [check-manifest]

repos:
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.0.1
  hooks:
  - id: check-added-large-files
  - id: check-case-conflict
  - id: check-merge-conflict
  - id: check-symlinks
  - id: check-yaml
  - id: check-toml
  - id: debug-statements
  - id: end-of-file-fixer
  - id: mixed-line-ending
  - id: trailing-whitespace
  - id: fix-encoding-pragma

- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
    - id: insert-license
      files: \.py$
      args:
        - --license-filepath
        - misc/license_header.txt
# Changes tabs to spaces
- repo: https://github.com/Lucas-C/pre-commit-hooks
  rev: v1.1.10
  hooks:
  - id: remove-tabs

- repo: https://github.com/PyCQA/isort
  rev: 5.10.1
  hooks:
    - id: isort
      name: isort (python)

- repo: https://github.com/psf/black
  rev: 21.12b0
  hooks:
  - id: black
    language_version: python3
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]

- repo: https://github.com/PyCQA/flake8
  rev: 4.0.1
  hooks:
  - id: flake8
    additional_dependencies: [flake8-breakpoint, flake8-comprehensions,
                              flake8-docstrings, flake8-eradicate,
                              flake8-mutable]

- repo: https://github.com/pre-commit/mirrors-pylint
  rev: 'v3.0.0a4'
  hooks:
  - id: pylint
    additional_dependencies: ['CLinters', 'fasteners']
    # This is a slow hook, so only run this if --hook-stage manual is passed
    stages: [manual]

- repo: https://github.com/mgedmin/check-manifest
  rev: "0.47"
  hooks:
  - id: check-manifest
    additional_dependencies: ['setuptools-scm', 'pybind11>=2.6']
